@font-face {
    font-family: 'Minecraftia';
    src: url('Minecraftia-Regular.woff2') format('woff2'),
        url('Minecraftia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

